﻿@model IEnumerable<WebNuocHoa.Models.product>
<div id="aside" class="col-md-3">
    <!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Sản phẩm bán chạy</h3>
        @foreach (var item in Model)
        {
            <div class="product-widget">
                <div class="product-img">
                    @{ 
                        string ImagePath = "~/wwwroot/img/" + item.images;
                    }
                    <img src="@Url.Content(ImagePath)" alt="" width="60" height="60" />
                </div>
                <div class="product-body">
                    <p class="product-category">@Html.DisplayFor(modelItem => item.category.catname)</p>
                    <h3 class="product-name"><a href="product.html">@Html.DisplayFor(modelItem => item.proname)</a></h3>
                    <h4 class="product-price">@Html.DisplayFor(modelItem => item.price) VND </h4>
                </div>
            </div>

        }
    </div>
    <!-- /aside Widget -->
</div>

